@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.app {
  background-color: #fff;
  border-radius: 10px 10px 200px 10px;
  padding: 3rem;
  height: 700px;
  width: 800px;
  margin: auto;
}

.ac-app-body {
  display: flex;
  flex-direction: column;
}

.ac-inputs-body {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 3rem;
  border-bottom: 0.2rem solid #e0e0e0;
  position: relative;
}

.ac-input-button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  background-color: #e0e0e0;
  border-radius: 100%;
  cursor: pointer;
}

.ac-input {
  display: flex;
  flex-direction: column;
  max-width: 11rem;
  gap: 0.5rem;
}

.ac-input input {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 0.2rem solid #e0e0e0;
  transition: all 200ms;
  color: #4c4c4c;

}

.ac-input input:hover {
  border: 0.2rem solid #7e70ab;
}

.ac-input label {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #4c4c4c;
  font-weight: bold;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  -moz-appearance: textfield;
}

.ac-results-body {
  display: flex;
  flex-direction: column;
}

.ac-result-value {
  color: #824efb;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
}

.ac-result-label {
  color: #151515;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
}

.error-message {
  color: rgb(240, 93, 93);
  font-style: italic;
}

.error-color {
  border-color: rgb(240, 93, 93) !important;
  color: rgb(240, 93, 93) !important;
}